body {
font-family: 'Montserrat', sans-serif;
background-color: #6d2f2f;
color : white;
}
header {
    background-image: url('images/auto.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
  text-align: center;
  font-size: 2em;

}
h1{
font-family: 'Spectral SC', serif;
text-align: center;
}
h2{
font-family: 'Spectral SC', serif;
text-align: center;
font-size: 2em;
}
h3{
font-family: 'Spectral SC', serif;
text-align: center;
}
h4{
font-family: 'Montserrat', sans-serif;
}
p{
  font-family: 'Montserrat', sans-serif;

}
section {
  padding: 20px;
  text-align: center;


}
.header-content-block {

}
#bio {
  text-align: center;

}
.bio-content-block {
  background-color: #2f5f6d;
text-align: center;
padding: 40px;

}
#comp {

}
.comp-content {

  background-color: #2f5f6d;
  padding: 1em;
}

.section-content {
  display: flex;
  flex-wrap: wrap;
  background-color: #2f5f6d;
  justify-content: space-around;
}

#portfolio{


}
.portfolio-content {

  padding: 1em;



}
footer{

  padding: 20px;
  text-align: center;

}
.adress {

}
.social-links {

}
.gallery {
display: flex;
  justify-content: center;
  align-items: center;
    padding: 20px;
}

img {
  border: 1px solid #f4987b; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}
img:hover {
  box-shadow : 0 0 2px 1px rgba(0,140,186,0.5);
}
.thumb {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
text-align: center;
padding: 20px;
background-color: #2f5f6d;

}

.thumb01 {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
text-align: center;
padding: 20px;


}
p {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
    align-items: center;
  text-align: center;

}

.char10 {
  font-size: 2em;
  color : #6d2f2f;
  font-family: 'Montserrat', sans-serif;

}
.char11 {
  font-size: 1em;
  color : #6d2f2f;
  font-family: 'Montserrat', sans-serif;

}
.char12 {
  font-size: 1em;
  color : #6d2f2f;
  font-family: 'Montserrat', sans-serif;

}.char13 {
  font-size: 1em;
  color : #6d2f2f;
  font-family: 'Montserrat', sans-serif;

}.char14 {
  font-size: 1em;
  color : #6d2f2f;
  font-family: 'Montserrat', sans-serif;

}.char15 {
  font-size: 1em;
  color : #6d2f2f;
  font-family: 'Montserrat', sans-serif;

}
.char16 {
  font-size: 1em;
  color : #6d2f2f;
  font-family: 'Montserrat', sans-serif;

}
.char17 {
  font-size: 1em;
  color : #6d2f2f;
  font-family: 'Montserrat', sans-serif;

}
